<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Welcome <%= session.role %></h2>
<a href="/logout">Logout</a>
<form action="/add" method="POST">
  <input name="username" required>
  <input name="password" type="password" required>
  <button type="submit">Add User</button>
</form> 

<table border="1">
  <tr><th>ID</th><th>Name</th><th>Action</th></tr>
  <% users.forEach(user => { %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td>
        <a href="/edit/<%= user.id %>">Edit</a>
        <% if (session.role === 'admin') { %>
          <a href="/delete/<%= user.id %>">Delete</a>
        <% } %>
      </td>
    </tr>
  <% }) %>
</table>

</body>
</html>