<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of user</title>
</head>
<body>
    <h1>Welcome <%= name %> To RBCMS</h1>
    <% if (role === 'admin') { %>
      <a href="/addNew">Create New User</a>
    <% } %>
    <h2>User List</h2>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th colspan="2">Modification</th>
        </tr>
            <% user.forEach(u => { %>
         <tr>
              <td><%= u.id %></td>
              <td><%= u.name %></td>
              <td><%= u.password %></td>
            
              <% if (role === 'admin' || u.name === name) { %>
               <td><a href="/update/<%= u.id %>">update</a></td>
               <td><a href="/delete/<%= u.id %>">Delete</a></td>
              <% } else {%>
                <td>Not Authorised</td>
                <td>Not Authorised</td>
                <% } %>
            </tr>
            <% }) %>
    </table>
    <a href="/logout">Logout</a>
</body>
</html>